@import "../../variables.scss";

.projects_grid {
    .below_hidden{
        display: none;
    }
    position: relative;
    width: calc(100% - 400px);
    // min-height: calc(100vh - 24px);
    margin-right: 400px;
    display: grid;
    grid-template-columns: repeat(2,2FR);
    grid-template-rows: 70px repeat(3,3FR);
    grid-row-gap: 35px;
    // border: 4x solid fuchsia;
    background: $main_light;
    background: radial-gradient($main_light, $main_color);
    padding:35px 0;
    margin-bottom: 24px;
    .header{
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        font-size: 70px;
        color:white;
        opacity: .8;
        padding: 12px 50px;
        // border: 1px solid fuchsia;
    }
    .left {
        grid-column: 1/2;
        // border: 1px solid skyblue;
        text-align: right;
        header{
            text-align: right;
        }
    }
    .right {
        grid-column: 2/3;
        // border: 1px solid fuchsia;
        header{
            text-align: left;
        }
    }
    .gif {
        img{
            width: calc(100% - 30px);
            margin: 15px;
            // border-radius:5px;
        }
    }
    .words {
        padding: 15px;
        // border: 1px solid fuchsia;
        color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        font-size: 20px;

        .words_body{
            display: flex;
            flex-direction: column;
            height: 100%;

            header{
                color: inherit;
                font-size: 26px;
                flex-grow: 1;

            }
    
            .description {
                flex-grow: 1;
            }
    
            .tech_words {
                flex-grow: 1;
            }

            .tech_used {
                // border: 1px solid fuchsia;
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                height: 60px;
                #gulp {
                    margin: 0 15px;
                    // border: 1px solid fuchsia;
                }
            }
            .links{
                flex-grow: 1;
                display: flex;
                justify-content: space-around;
                a {
                    // border: 1px solid fuchsia;
                    // text-align: left;
                    width: 50%;
                    color:inherit;
                }
            }
        }
    }
}

@media (max-width:1400px){

    .projects_grid {
        width: 100%;
    }
  
}

@media (max-width:768px) {
    .projects_grid {
        grid-template-columns: repeat(1, 1FR);
        grid-template-rows: 50px .6FR 1FR .6FR 1FR .6FR 1FR;
        grid-row-gap: 10px;
        padding-bottom: 10px;
        .header{
            grid-column: 1/2;
            display: flex;
            justify-content: center;
        }
        .left, .right{
            grid-column: 1/2;
            text-align: left;
            .words_body{
                header {
                    text-align: left;
                    font-size: 30px;
                }
            }
        }
        // .right {
        //     grid-column: 1/2;
        //     text-align: center;
        //     .words_body{
        //         header {
        //             text-align: center;
        //             font-size: 30px;
        //             color: red;
        //         }
        //     }
        // }
    }
    .pro1 {
        grid-row: 2/3;
    }
    .pro2 {
        grid-row: 3/4;
    }
    .pro3 {
        grid-row: 4/5;
    }
    .pro4 {
        grid-row: 5/6;
    }
    .pro5 {
        grid-row: 6/7;
    }
    .pro6 {
        grid-row: 7/8;
    }
}

@media (max-width:600px) {
    .projects_grid{
        display: flex;
        flex-direction: column;
        .header{
            font-size: 50px;
        }
        .gif{
            // border: 2px solid fuchsia;
            img{
                border-radius: 0;
                margin: 0;
                width: 100%;
            }
        }
        .words .words_body{
            min-height: 300px;
        }
        .top_hidden{
            display: none;
        }
        .below_hidden{
            display: block;
        }
    }
}