@import '../variables.scss';

.about_parent {
    // smaller screens will avoid using vh;
    height: 200vh;
    width: calc(100% - 400px);
    border: 3px solid fuchsia;
    position: relative;
    #about{
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100vh - 24px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: 'Ubuntu';
        border: 3px solid rebeccapurple;
        // font-family: 'Lato';
        h1{
            font-family: inherit;
            font-size: 5.5rem;
        }
        h2{
            font-family: inherit;
            font-size: 2rem;
        }
    }
    #greet{
        border: 3px solid blue; 
        height: calc(100vh - 24px);
        display: flex;
        justify-content: center;
        align-items: center;
        // position sticky caniuse.com score of 86.17%; 
        // target audience: senior devs who probably use modern browsers
        position: -webkit-sticky;
        position: sticky;
        top: 12px;
        .greet_contain{
            width: 42.5%;
            p {
                font-size: 2rem;
                margin: 1rem;
            }
        }
    }
}

@media (max-width:1400px){

    .about_parent {
        width: 100%;
    }
  
}

@media (max-width:600px) {
    .about_parent {
        height: auto; // default, let the content determine your height
    }
}