/* Ropa+Sans|Varela+Round */

@import '../variables.scss';

.about_grid {
    /* margin-left: 60px; */
    width: 100%;
    height: 100%;
    background: rgb(245,245,245);
    background-image: url('../jpg/timp.jpg');
    background-position: center;
    background-size:cover;
    display: grid;
    grid-template-columns: repeat(5, 5FR);
    grid-template-rows: repeat(5, 5FR);
    header{
        grid-row: 1/3;
        grid-column: 1/6;
        padding: 25px;
        color:white;
        // border: 1px solid red;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        // padding-left: 25px;
        h1 {
            font-family: $fun_font;
            opacity: 0;
            // border:1px solid red;
            font-size: 80px;
            transform: translateX(200px);
            animation: title-appear 1s;
            animation-fill-mode: forwards;
        }
        h2 {
            font-family: $fun_font;
            font-size: 70px;
            opacity: 0;
            transform: translateX(200px);
            animation: title-appear 1s;
            animation-fill-mode: forwards;
            animation-delay: 1s;
        }
        h3 {
            font-family: $fun_font;
            font-size: 60px;
            opacity: 0;
            transform: translateX(200px);
            animation: title-appear 1s;
            animation-fill-mode: forwards;
            animation-delay: 2s;
        } 
        h4 {
            font-family: $fun_font;
            position: absolute;
            font-size: 70px;
            right: 45px;
            opacity: .5;
        }
        // transform: translateX(100%);
        // animation: title-appear 1.2s;
        // animation-fill-mode: forwards;
    }
    .cover_grid{
        grid-row: 1/6;
        grid-column: 1/6;
        z-index: 0;
        // background: #547FC3;
        // background: #7474bf;
        // background: #348ac7;
        // background: linear-gradient(90deg, #7474bf, #348ac7, #7474bf);
        // background: radial-gradient(#348ac7,#7474bf);
        // background: linear-gradient(45deg, #fe8c00, #f83600, #fe8c00);
        // background: linear-gradient(180deg, $main_color, white);
        background: black;
        opacity:.1;
    }
}

.top_left{
    z-index: 0;
    grid-column:2/5;
    grid-row:2/5;
    // box-shadow: 0 0 50px rgba(112, 112, 112, 0.2);
    // box-shadow: 0 0 100px rgba(116,116,191,.8);
    box-shadow: 0 0 100px rgba(84,127,195,.8);

    border-image-slice: 1;
    border-radius: 2px;

    background: rgb(250,250,250);
    // background: rgba(0,0,0,.5);
    //

    padding:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translateX(150%);

    animation: slide_left 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.top_left .paragraphs {
    /* border: 1px solid black; */
}

.top_left h3{
    color:rgba(0,0,0,0);

    font-size: 34px;
    margin-bottom: 25px;

    animation: fade_in_color 2.4s;
    animation-fill-mode: forwards;
}

.top_left p{
    margin-top: 14px;
    font-size: 30px;
    color:rgba(0,0,0,0);

    animation: fade_in_dark 2.4s;
    animation-fill-mode: forwards;
}

.top_left p span {
    cursor: pointer;
    color: rgba(0,0,0,0);
    text-decoration: none;

    animation: fade_in_color 2.4s;
    animation-fill-mode: forwards;
}

.top_right{

}

.bottom_left{
    
}

.bottom_right{
    grid-column:4/5;
    grid-row:3/5;
    box-shadow: 0 0 50px rgba(112, 112, 112, 0.2);
    background: rgb(250,250,250);
    transform: translateX(-300%);
    animation: slide_right 1.2s;
    animation-fill-mode: forwards;

    animation-timing-function: ease;

}

@keyframes title-appear {
    75%{
        transform: translateX(-10px);
        opacity: .5;
    }
    100%{
        transform: translateX(0);
        opacity: .5;
    }
}

// @keyframes fade_in_color {
//     50%{
//         color:rgba(0,0,0,0);
//     }
//     100%{
//         color:rgb(73,94,209);
//         color:#547FC3
//     }
// }

// @keyframes fade_in_dark {
//     50%{
//         color:rgba(0,0,0,0);
//     }
//     100%{
//         color:rgb(31, 31, 31);
//     }
// }

@keyframes slide_left {
    80%{
        transform: translateX(-5%)
    }
    // 95%{
    //     transform: translateX(10px)
    // }
    100%{
        transform: translateX(0)
    }
}

// @keyframes slide_right {
//     80%{
//         transform: translateX(5%)
//     }
//     95%{
//         transform: translateX(-10px)
//     }
//     100%{
//         transform: translateX(0%)
//     }
// }

@media (max-width:415px){
    .top_left{
        grid-column:2/5;
        grid-row:1/4;
        padding: 30px;
        font-size: 20px;
    }
    .top_left h3 {
        font-size: 30px;
    }
    .top_left p {
        font-size: 26px;
    }
    .bottom_right{
        display: none;
    }
}

@media (max-width:376px){
    .top_left{
        padding: 25px;
        font-size: 20px;
    }
    .top_left h3 {
        font-size: 28px;
    }
    .top_left p {
        font-size: 25px;
    }
}

@media (max-width:321px){
    .top_left{
        padding: 22px;
        font-size: 18px;
    }
    .top_left h3 {
        font-size: 28px;
    }
    .top_left p {
        font-size: 20px;
    }
}
