/* Ropa+Sans|Varela+Round */

.about_grid {
    /* margin-left: 60px; */
    width: 100%;
    height: 100%;
    background: rgb(245,245,245);
    display: grid;
    grid-template-columns: repeat(5, 5FR);
    grid-template-rows: repeat(5, 5FR);
}

.top_left{
    z-index: 0;
    grid-column:2/5;
    grid-row:2/5;
    box-shadow: 0 0 50px rgba(112, 112, 112, 0.2);
    border-image-slice: 1;
    border-radius: 1px;
    background: rgb(250,250,250);
    padding:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translateX(150%);

    animation: slide_left 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.top_left .paragraphs {
    /* border: 1px solid black; */
}

.top_left h3{
    color:rgba(0,0,0,0);
    font-family: 'Nunito';
    /* font-family: 'Varela Round'; */
    font-size: 34px;
    margin-bottom: 25px;

    animation: fade_in_color 2.4s;
    animation-fill-mode: forwards;
}

.top_left p{
    margin-top: 14px;
    font-size: 30px;
    font-family: 'Nunito';
    color:rgba(0,0,0,0);

    animation: fade_in_dark 2.4s;
    animation-fill-mode: forwards;
}

.top_left p span {
    cursor: pointer;
    color: rgba(0,0,0,0);
    text-decoration: none;

    animation: fade_in_color 2.4s;
    animation-fill-mode: forwards;
}

.top_right{

}

.bottom_left{
    
}

.bottom_right{
    grid-column:4/5;
    grid-row:3/5;
    box-shadow: 0 0 50px rgba(112, 112, 112, 0.2);
    background: rgb(250,250,250);
    transform: translateX(-300%);
    animation: slide_right 1.2s;
    animation-fill-mode: forwards;

    animation-timing-function: ease;

}

@keyframes fade_in_color {
    50%{
        color:rgba(0,0,0,0);
    }
    100%{
        color:rgb(73,94,209);
        color:#547FC3
    }
}

@keyframes fade_in_dark {
    50%{
        color:rgba(0,0,0,0);
    }
    100%{
        color:rgb(31, 31, 31);
    }
}

@keyframes slide_left {
    80%{
        transform: translateX(-5%)
    }
    // 95%{
    //     transform: translateX(10px)
    // }
    100%{
        transform: translateX(0)
    }
}

// @keyframes slide_right {
//     80%{
//         transform: translateX(5%)
//     }
//     95%{
//         transform: translateX(-10px)
//     }
//     100%{
//         transform: translateX(0%)
//     }
// }

@media (max-width:415px){
    .top_left{
        grid-column:2/5;
        grid-row:1/4;
        padding: 30px;
        font-size: 20px;
    }
    .top_left h3 {
        font-size: 30px;
    }
    .top_left p {
        font-size: 26px;
    }
    .bottom_right{
        display: none;
    }
}

@media (max-width:376px){
    .top_left{
        padding: 25px;
        font-size: 20px;
    }
    .top_left h3 {
        font-size: 28px;
    }
    .top_left p {
        font-size: 25px;
    }
}

@media (max-width:321px){
    .top_left{
        padding: 22px;
        font-size: 18px;
    }
    .top_left h3 {
        font-size: 28px;
    }
    .top_left p {
        font-size: 20px;
    }
}
