@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Kaushan+Script|Nothing+You+Could+Do|Permanent+Marker|Yesteryear");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Ubuntu");
.about_view_window {
  position: relative;
  width: calc(100% - 400px);
  height: calc(200vh - 48px);
  background: whitesmoke fixed;
  background-image: url("../jpg/timp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .about_view_window .cover_grid {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(200vh - 48px);
    width: 100%;
    z-index: 0;
    background: black fixed;
    opacity: .35; }
  .about_view_window .about_text_grid {
    position: fixed;
    top: 12px;
    width: calc(100vw - 424px);
    height: calc(100vh - 24px);
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(5, 5FR);
    grid-template-rows: repeat(5, 5FR);
    opacity: 0;
    font-family: "Ubuntu"; }
    .about_view_window .about_text_grid .about_me {
      grid-column: 2/5;
      grid-row: 2/5;
      padding: 35px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      font-family: inherit;
      font-size: 40px;
      color: white;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
      .about_view_window .about_text_grid .about_me h4 {
        font-size: inherit;
        font-family: inherit;
        margin-bottom: 20px;
        text-align: left; }
      .about_view_window .about_text_grid .about_me p {
        text-align: left;
        font-family: inherit; }
  .about_view_window .about_frame {
    position: fixed;
    top: -12px;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh); }
    .about_view_window .about_frame .smart_border {
      transition: all .4s;
      position: absolute;
      height: 12px;
      width: 100%;
      background: whitesmoke; }
    .about_view_window .about_frame .smart_border_top {
      top: 0;
      margin-top: -12px; }
    .about_view_window .about_frame .smart_border_bottom {
      bottom: 0;
      margin-bottom: -12px; }

.about_grid {
  height: calc(100vh - 24px);
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(5, 5FR);
  grid-template-rows: repeat(5, 5FR); }
  .about_grid header {
    grid-row: 2/5;
    grid-column: 1/6;
    padding: 25px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.85);
    animation-name: scaleforwards;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1.8s; }
    .about_grid header h1 {
      font-family: "Ubuntu";
      opacity: 1;
      font-size: 7.5em;
      text-shadow: 0 0 25px #223450;
      margin-top: -50px; }
      .about_grid header h1 span {
        font-family: inherit;
        font-size: 1.1em; }
    .about_grid header h2 {
      text-shadow: 0 0 25px #223450;
      text-align: center;
      font-family: 'lato';
      font-family: "Ubuntu";
      font-size: 2.5em;
      opacity: 1; }
  .about_grid footer {
    z-index: 5;
    grid-row: 5/6;
    grid-column: 1/6;
    display: flex;
    align-items: center;
    justify-content: center; }
    .about_grid footer i {
      color: white;
      transform: translateY(-25px) scale(1.3);
      animation: bounce 2s;
      animation-iteration-count: infinite; }

@keyframes darken {
  100% {
    opacity: .35; } }

@keyframes scaleforwards {
  100% {
    transform: scale(1); } }

@keyframes bounce {
  0% {
    transform: translateY(-25px); }
  50% {
    transform: translateY(25px); }
  100% {
    transform: translateY(-25px); } }

@media (max-width: 1400px) {
  .about_view_window {
    width: 100%; }
    .about_view_window .about_text_grid {
      width: 100vw; } }

@media (max-width: 1024px) {
  .about_grid header h1 {
    font-size: 130px; }
    .about_grid header h1 span {
      font-size: 150px; }
  .about_grid header h2 {
    font-size: 55px; } }

@media (max-width: 768px) {
  .about_grid {
    margin-bottom: 0; }
  .about_view_window {
    background-image: url("../jpg/city.jpg"); }
    .about_view_window .about_text_grid {
      height: 100vh;
      top: 0; }
      .about_view_window .about_text_grid .about_me {
        font-size: 1.1em;
        padding: 0; }
  .about_frame {
    display: none; } }

@media (max-width: 600px) {
  .about_grid header h1 {
    font-size: 3.1em; }
    .about_grid header h1 span {
      font-size: 1.05em; }
  .about_grid header h2 {
    font-size: 1.1em; } }
