@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Kaushan+Script|Nothing+You+Could+Do|Permanent+Marker|Yesteryear");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Ubuntu");
.about_parent {
  height: 200vh;
  width: calc(100% - 400px);
  border: 3px solid fuchsia;
  position: relative; }
  .about_parent #about {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100vh - 24px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu';
    border: 3px solid rebeccapurple; }
    .about_parent #about h1 {
      font-family: inherit;
      font-size: 5.5rem; }
    .about_parent #about h2 {
      font-family: inherit;
      font-size: 2rem; }
  .about_parent #greet {
    border: 3px solid blue;
    height: calc(100vh - 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 12px; }
    .about_parent #greet .greet_contain {
      width: 42.5%; }
      .about_parent #greet .greet_contain p {
        font-size: 2rem;
        margin: 1rem; }

@media (max-width: 1400px) {
  .about_parent {
    width: 100%; } }

@media (max-width: 600px) {
  .about_parent {
    height: auto; } }
