@charset "UTF-8";
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Kaushan+Script|Nothing+You+Could+Do|Permanent+Marker|Yesteryear");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Ubuntu");
.laptop-parent {
  position: absolute;
  width: 920px;
  height: 575px;
  left: 50%;
  transform: translate(-460px, calc( ( -575px / 2) + 10px));
  top: 50%; }
  .laptop-parent .laptop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .laptop-parent .slider {
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translateX(-334px);
    width: 668px;
    height: 417.6px; }
    .laptop-parent .slider .img_container {
      display: flex;
      align-items: center;
      justify-content: center; }
    .laptop-parent .slider .visit {
      z-index: 5;
      position: absolute;
      width: 668px;
      height: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
      border-radius: 0px;
      border: none;
      background: none;
      color: white;
      font-family: 'lato';
      font-size: 185px;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.55);
      opacity: 0;
      transition: opacity .5s;
      height: 100%;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .laptop-parent .slider .visit:hover {
        opacity: .8; }
    .laptop-parent .slider img {
      width: 668px;
      height: 417.6px;
      cursor: pointer; }
  .laptop-parent .slick-next {
    width: 100px;
    height: 100px;
    transform: translate(120px, -50px); }
    .laptop-parent .slick-next::before {
      content: "";
      font-family: FontAwesome;
      color: white;
      font-size: 80px; }
  .laptop-parent .slick-prev {
    width: 100px;
    height: 100px;
    transform: translate(-120px, -50px); }
    .laptop-parent .slick-prev::before {
      content: "";
      color: white;
      font-family: FontAwesome;
      font-size: 80px; }
