@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Kaushan+Script|Nothing+You+Could+Do|Permanent+Marker|Yesteryear");
.contact_grid {
  position: relative;
  width: calc(100% - 400px);
  min-height: calc(100vh - 24px);
  margin-right: 400px;
  display: grid;
  grid-template-columns: repeat(3, 3FR);
  grid-template-rows: repeat(10, 10FR); }
  .contact_grid .background {
    z-index: -5;
    grid-column: 1/4;
    grid-row: 1/9;
    opacity: .15;
    background: url("../jpg/paper.jpeg");
    background-position: center;
    background-size: cover; }
  .contact_grid .header {
    grid-column: 1/4;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    font-size: 70px;
    color: #223450;
    opacity: .4;
    padding: 12px 50px; }
  .contact_grid .body {
    grid-column: 1/4;
    grid-row: 2/8;
    display: grid;
    grid-template-columns: repeat(3, 3FR);
    grid-template-rows: repeate(1, 1FR);
    opacity: 1;
    color: #243c64; }
    .contact_grid .body h2 {
      position: absolute;
      bottom: 0;
      color: #243c64;
      font-size: 20px; }
    .contact_grid .body a {
      text-decoration: none;
      color: #243c64; }
    .contact_grid .body i {
      cursor: pointer; }
    .contact_grid .body .left {
      position: relative;
      grid-column: 1/2;
      display: flex;
      align-items: center;
      justify-content: center; }
      .contact_grid .body .left i {
        transform: scale(2);
        transition: transform .5s, opacity .5s; }
      .contact_grid .body .left:hover i {
        transform: scale(3);
        opacity: .2; }
    .contact_grid .body .middle {
      position: relative;
      grid-column: 2/3;
      display: flex;
      align-items: center;
      justify-content: center; }
      .contact_grid .body .middle i {
        transform: scale(2.5);
        transition: transform .5s, opacity .5s; }
      .contact_grid .body .middle:hover i {
        transform: scale(3.2);
        opacity: .2; }
    .contact_grid .body .right {
      position: relative;
      grid-column: 3/4;
      display: flex;
      align-items: center;
      justify-content: center; }
      .contact_grid .body .right i {
        transform: scale(2);
        transition: transform .5s, opacity .5s; }
      .contact_grid .body .right:hover i {
        transform: scale(3);
        opacity: .2; }
  .contact_grid .footer {
    grid-column: 1/4;
    grid-row: 9/11;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    background: #CFD3D8;
    background: linear-gradient(45deg, #223450, #243c64); }

@media (max-width: 1400px) {
  .contact_grid {
    width: 100%; } }

@media (max-width: 600px) {
  .contact_grid .header {
    font-size: 50px;
    justify-content: center; }
  .contact_grid .body {
    grid-template-columns: 1FR 1FR 1FR;
    grid-template-rows: 1FR; }
    .contact_grid .body .left {
      grid-column: 1/2; }
      .contact_grid .body .left i {
        transform: scale(1.5); }
      .contact_grid .body .left:hover i {
        transform: scale(1.5);
        opacity: 1; }
      .contact_grid .body .left h2 {
        transform: translateY(-50px); }
    .contact_grid .body .middle {
      grid-column: 2/3; }
      .contact_grid .body .middle i {
        transform: scale(1.5); }
      .contact_grid .body .middle:hover i {
        transform: scale(1.5);
        opacity: 1; }
    .contact_grid .body .right {
      grid-column: 3/4; }
      .contact_grid .body .right i {
        transform: scale(1.5); }
      .contact_grid .body .right:hover i {
        transform: scale(1.5);
        opacity: 1; }
      .contact_grid .body .right h2 {
        transform: translateY(-50px); }
  .footer {
    font-size: 14px; } }
