.projects_grid {
  position: relative;
  width: calc(100% - 400px);
  height: calc(100vh - 24px);
  margin-right: 400px;
  display: grid;
  grid-template-columns: repeat(18, 18FR);
  grid-template-rows: repeat(18, 18FR);
  margin-bottom: 24px; }
  .projects_grid .title {
    grid-row: 1/4;
    grid-column: 1/19;
    font-size: 90px;
    padding: 0 40px;
    color: white;
    opacity: .75;
    display: flex;
    align-items: center; }
  .projects_grid .projects_background {
    z-index: 0;
    background: url("../jpg/desk.jpeg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; }
    .projects_grid .projects_background .overlay {
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #7474bf, #348ac7, #7474bf);
      opacity: .5; }
  .projects_grid .laptop_container {
    z-index: 1;
    grid-row: 4/18;
    grid-column: 2/18; }
    .projects_grid .laptop_container img {
      width: 100%; }
  .projects_grid .left-arrow, .projects_grid .right-arrow {
    z-index: 5;
    grid-row: 8/11;
    color: white;
    opacity: .75;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer; }
  .projects_grid .left-arrow {
    grid-column: 2/4;
    justify-content: flex-start; }
  .projects_grid .right-arrow {
    grid-column: 16/18;
    justify-content: flex-end; }
  .projects_grid footer {
    z-index: 5;
    grid-row: 15/19;
    grid-column: 1/19;
    padding-right: 25px;
    color: white;
    opacity: .75;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 60px; }
    .projects_grid footer span {
      transform: translateX(100%);
      animation: slide-in-footer .6s;
      animation-fill-mode: forwards; }

@keyframes slide-in-footer {
  100% {
    transform: translateX(0); } }
