@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Kaushan+Script|Nothing+You+Could+Do|Permanent+Marker|Yesteryear");
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

button {
  outline: none;
  cursor: pointer; }

.side_bar {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* border-right: 7px solid transparent;
  border-image: linear-gradient(180deg, rgb(86, 59, 209), rgb(59, 129, 209));
  border-image-slice: 1; */
  background: white;
  height: 300%;
  width: 60px;
  /* box-shadow: 0 0 45px rgba(112, 112, 112, 0.349); */ }

#loc_box_1 {
  transform: translateY(-65px); }

#loc_box_2 {
  transform: translateY(-15px); }

#loc_box_3 {
  transform: translateY(35px); }

.menu {
  display: none;
  z-index: 1;
  /* background: white; */
  position: fixed;
  top: 10px;
  left: 10px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px; }
  .menu path {
    fill: #223450;
    fill: whitesmoke; }

.open_menu {
  position: fixed;
  z-index: 5;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  /* border: 1px solid green; */
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation: grow .84s;
  animation-fill-mode: forwards;
  /* box-shadow: 0 0 5px rgba(112, 112, 112, 0.349); */ }

.open_menu button {
  height: 50px;
  background: white;
  border: none;
  /* border-right: 3px solid rgb(73,94,209); */
  border-bottom: 3px solid white;
  color: rgba(172, 178, 206, 0);
  font-size: 20px;
  animation: text-appear .84s;
  animation-fill-mode: forwards;
  text-align: right;
  padding-right: 17px; }

.close_menu {
  display: none; }

#close {
  height: 60px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 1px solid black; */
  position: relative;
  /* justify-content: center; */ }
  #close path {
    fill: #223450; }

#close svg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  opacity: 0;
  animation: appear 1.2s;
  animation-fill-mode: forwards; }

@keyframes grow {
  25% {
    height: 60px;
    width: 160px; }
  100% {
    width: 160px;
    height: 260px; } }

@keyframes appear {
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes text-appear {
  50% {
    color: rgba(73, 94, 209, 0);
    border-bottom: 3px solid white; }
  100% {
    color: #223450;
    border-bottom: 3px solid whitesmoke; } }

@media (max-width: 1400px) {
  .menu {
    display: flex; }
  .content_window {
    border-right: 10px solid transparent; } }

@media (max-width: 415px) {
  .content_window {
    position: relative;
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    border: 0px solid transparent;
    font-size: 30px;
    /* padding-top: 25px; */
    overflow-y: scroll;
    overflow-x: hidden; }
  .social_links {
    left: 0px; }
  .menu {
    left: 0px; }
  .open_menu {
    left: 0;
    top: 0; }
  .open_menu button {
    text-align: center; }
  .location_box {
    left: 15px; }
  .location_box_hilighted {
    left: 15px; }
  @keyframes grow {
    25% {
      height: 60px;
      width: 100%; }
    100% {
      width: 100%;
      height: 210px; } } }
