* {
  box-sizing: border-box; }

button {
  outline: none;
  cursor: pointer; }

.content_window {
  position: relative;
  background: whitesmoke;
  height: 100vh;
  width: 100vw;
  border: 12px solid transparent;
  border-right: 400px solid transparent;
  border-image: linear-gradient(45deg, #3b81d1, #563bd1, #3b81d1);
  border-image: linear-gradient(45deg, #fe8c00, #f83600, #fe8c00);
  border-image: linear-gradient(45deg, #7474bf, #348ac7, #7474bf);
  border-image-slice: 1;
  font-size: 30px;
  /* padding-top: 25px; */
  overflow-y: scroll;
  overflow-x: hidden; }

.side_bar {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* border-right: 7px solid transparent;
  border-image: linear-gradient(180deg, rgb(86, 59, 209), rgb(59, 129, 209));
  border-image-slice: 1; */
  background: white;
  height: 300%;
  width: 60px;
  /* box-shadow: 0 0 45px rgba(112, 112, 112, 0.349); */ }

#loc_box_1 {
  transform: translateY(-65px); }

#loc_box_2 {
  transform: translateY(-15px); }

#loc_box_3 {
  transform: translateY(35px); }

.location_box {
  z-index: 1;
  position: fixed;
  width: 30px;
  height: 30px;
  left: 25px;
  top: 50%;
  background-color: whitesmoke;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(112, 112, 112, 0.2), 0 0 5px rgba(112, 112, 112, 0.349); }

.location_box_hilighted {
  z-index: 1;
  background-color: #547FC3;
  position: fixed;
  width: 30px;
  height: 30px;
  left: 25px;
  top: 50%;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(112, 112, 112, 0.349); }

svg path {
  fill: #495ed1;
  fill: #f83600;
  fill: #547FC3; }

.social_links {
  z-index: 1;
  position: fixed;
  bottom: calc(15px);
  left: calc(10px);
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 105px;
  /* background: white; */
  padding-top: 15px;
  /* padding: 50px; */ }

.social_links svg {
  /* border:2px solid green; */
  /* margin-left: 15px; */
  /* width: 100px; */
  margin-bottom: 15px; }

.menu {
  display: none;
  z-index: 1;
  border: 1px solid red;
  /* background: white; */
  position: fixed;
  top: 10px;
  left: 10px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px; }

.open_menu {
  position: fixed;
  z-index: 5;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  /* border: 1px solid green; */
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation: grow .84s;
  animation-fill-mode: forwards;
  /* box-shadow: 0 0 5px rgba(112, 112, 112, 0.349); */ }

.open_menu button {
  height: 50px;
  background: white;
  border: none;
  /* border-right: 3px solid rgb(73,94,209); */
  border-bottom: 3px solid white;
  color: rgba(73, 94, 209, 0);
  font-size: 20px;
  animation: text-appear .84s;
  animation-fill-mode: forwards;
  text-align: right;
  padding-right: 17px; }

.close_menu {
  display: none; }

#close {
  height: 60px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 1px solid black; */
  position: relative;
  /* justify-content: center; */ }

#close svg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  opacity: 0;
  animation: appear .84s;
  animation-fill-mode: forwards; }

.fixed-right-navbar {
  opacity: 0;
  animation: appear 2.4s;
  animation-fill-mode: forwards;
  position: fixed;
  right: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 388px;
  height: calc(100vh - 24px);
  display: grid;
  grid-template-rows: repeat(10, 10FR);
  grid-template-columns: 1FR; }
  .fixed-right-navbar .img-container {
    grid-row: 3/5;
    height: 220px;
    width: 220px;
    margin-left: 85px;
    transform: translateY(-110px);
    border: 5px solid #FAFAFA;
    border-radius: 50%;
    background: gainsboro;
    z-index: 5; }
  .fixed-right-navbar .img-filler {
    z-index: 1;
    grid-row: 3/5;
    position: absolute;
    width: 100%;
    height: 100%; }
  .fixed-right-navbar .about-btn {
    grid-row: 5/6;
    background: transparent;
    color: #FAFAFA; }
  .fixed-right-navbar .skills-btn {
    color: #FAFAFA;
    grid-row: 6/7;
    background: transparent; }
  .fixed-right-navbar .projects-btn {
    color: #FAFAFA;
    grid-row: 7/8;
    background: transparent; }
  .fixed-right-navbar .contact-btn {
    color: #FAFAFA;
    grid-row: 8/9;
    background: transparent; }
  .fixed-right-navbar .highlight-btn {
    color: #547FC3;
    animation: fade-in-btns .82s;
    animation-fill-mode: forwards; }
  .fixed-right-navbar .unhighlight-btn {
    background: #FAFAFA;
    animation: fade-out-btns .82s;
    animation-fill-mode: forwards; }
  .fixed-right-navbar button {
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    color: #547FC3; }

@keyframes grow {
  25% {
    height: 60px;
    width: 160px; }
  100% {
    width: 160px;
    height: 210px; } }

@keyframes appear {
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes text-appear {
  50% {
    color: rgba(73, 94, 209, 0);
    border-bottom: 3px solid white; }
  100% {
    color: #547FC3;
    border-bottom: 3px solid whitesmoke; } }

@keyframes fade-in-btns {
  100% {
    background: #FAFAFA; } }

@keyframes fade-out-btns {
  100% {
    background: transparent;
    color: #FAFAFA; } }

@media (max-width: 1024px) {
  .menu {
    display: flex; }
  .fixed-right-navbar {
    display: none; }
  .content_window {
    border-right: 10px solid transparent; } }

@media (max-width: 415px) {
  .content_window {
    position: relative;
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    border: 0px solid transparent;
    font-size: 30px;
    /* padding-top: 25px; */
    overflow-y: scroll;
    overflow-x: hidden; }
  .social_links {
    left: 0px; }
  .menu {
    left: 0px; }
  .open_menu {
    left: 0;
    top: 0; }
  .open_menu button {
    text-align: center; }
  .location_box {
    left: 15px; }
  .location_box_hilighted {
    left: 15px; }
  @keyframes grow {
    25% {
      height: 60px;
      width: 100%; }
    100% {
      width: 100%;
      height: 210px; } } }
