@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Kaushan+Script|Nothing+You+Could+Do|Permanent+Marker|Yesteryear');

$main_color: rgb(34, 52, 80);
$main_light: rgb(36, 60, 100);
$gradient: linear-gradient(-45deg, $main_color, $main_light);
// $fun_font: 'Amatic SC';
// $fun_font: 'Josefin Slab';
// $fun_font: 'Nothing You Could Do';
// $fun_font: 'Permanent Marker';
// $fun_font: 'Kaushan Script';
$fun_font: 'Yesteryear';


// $slick-font-family:FontAwesome;
// $slick-prev-character: "\f053";
// $slick-next-character: "\f054";
